---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { siteMetadata } from '../consts'

import { getCollection } from 'astro:content'
import PostEntryPreview from '../components/PostEntryPreview.astro'
import { getProfileInfo, getReadme } from '../utils/github'
import FeaturedProjects from '../components/FeaturedProjects.astro'
import Author from '../components/Author.astro'

const posts = (await getCollection('blog'))
  .filter((post) => !post.data.status || post.data.status !== 'draft')
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3)

const profile = await getProfileInfo()
const pinnedItems = profile.pinnedItems.nodes
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={siteMetadata.title}
      description={siteMetadata.description}
    />
    <style>
      ul {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <Header title={siteMetadata.title} />
    <main class="container relative z-10">
      <section class="pb-7">
        <Author titlePrefix="Profile of">
          <p slot="subtitle" class="pt-0 pb-0 leading-none">
            I put my thoughts in this website when my computer is not sleeping.
          </p>
        </Author>
      </section>
      <section class="mb-4">
        <div class="align-center flex">
          <h6 class="color-overline flex-1 pt-0 pb-0 font-medium">
            Featured posts
          </h6>
          <a href="/blog" class="pt-0 pb-0">View all</a>
        </div>
        <ul class="my-0 p-0">
          {
            posts.map((post) => (
              <li>
                <PostEntryPreview {...post.data} href={`${post.slug}`} />
              </li>
            ))
          }
        </ul>
      </section>
      <section>
        <FeaturedProjects projects={pinnedItems} />
      </section>
    </main>
    <Footer />
  </body>
</html>
