---
import { markdown } from '@astropub/md'

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { siteMetadata } from '../consts';

import { getCollection } from 'astro:content';
import PostEntryPreview from '../components/PostEntryPreview.astro';
import { Icon } from '../components/Icon';
import { getProfileInfo, getReadme } from '../utils/github';
import FeaturedProjects from '../components/FeaturedProjects.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
).slice(0, 3)

const readme = await getReadme();
const profile = await getProfileInfo();
const pinnedItems = profile.pinnedItems.nodes;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={siteMetadata.title} description={siteMetadata.description} />
		<style>
			ul {
				list-style-type: none;
			}

			.profile-container {
				flex-direction: column;
			}

			.avatar-container {
				flex-direction: row;
			}

			.avatar {
				max-width: 67px;
				border-radius: 50%;
				margin-bottom: 0;
			}

			@media (min-width: 768px) {
				.profile-container {
					flex-direction: row;
				}

				.avatar-container {
					flex-direction: column;
				}

				.avatar {
					max-width: 120px;
					margin-bottom: var(--spacing-m);
				}
			}


		</style>
	</head>
	<body>
		<Header title={siteMetadata.title} />
		<main class="container layer--1 relative">
			<section>
				<div class="profile-container flex pb--xl">
          <div class="avatar-container flex flex--0 items--center mr--l mt--l">
            <img
              src={siteMetadata.avatar}
              alt={siteMetadata.author}
							class="avatar"
            />
            <div class="flex mt--zero mb--xxs px--s">
                <a class="mr--s" href={siteMetadata.github}>
                  <Icon icon="github" color="var(--link)" width="24" height="24" />
								</a>
                <a href={siteMetadata.linkedin}>
                  <Icon icon="linkedin" color="var(--link)" width="24" height="24" />
								</a>
              </div>
            </div>
            <div class="flex--1">
							{await markdown(readme)}
            </div>
          </div>
			</section>
			<section class="mb--l">
				<h6 class="color--overline">Featured posts</h6>
				<ul class="my--zero p--zero">
					{
						posts.map((post) => (
							<li>
								<PostEntryPreview {...post.data} href={`${post.slug}`} />
							</li>
						))
					}
				</ul>
			</section>
			<section>
				<FeaturedProjects projects={pinnedItems} />
			</section>
		</main>
		<Footer />
	</body>
</html>
