---
export interface Props {
  title: string
  description: string
  href?: string
  image: string
  imageAlt: string
  round?: boolean
  design?: 'light' | 'bright' | 'dark'
}

const { title, description, href, image, imageAlt } = Astro.props
---

<style define:vars={{}}>
  .highlight-imageContainer {
    width: 60px;
    height: 60px;
  }

  .highlight-image {
    max-width: 100%;
  }
</style>
<div class="flex flex-row items-baseline px-0">
  <div class="bg-backgroundSecondary flex flex-1 flex-row rounded-md p-3">
    <div class="flex-0 flex items-center justify-center">
      <div
        class="highlight-imageContainer mr-3 flex items-center justify-center overflow-hidden rounded-lg"
      >
        <img class="highlight-image" alt={imageAlt} src={image} />
      </div>
    </div>
    <div class="flex flex-1 flex-col justify-center">
      <h4 class="py-0">
        {title}
      </h4>
      {
        href ? (
          <a class="py-0" href={href}>
            {description}
          </a>
        ) : (
          <p class="py-0">{description}</p>
        )
      }
    </div>
  </div>
</div>
