---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { siteMetadata } from '../consts'
import Time from '../components/Time.astro'
import TableOfContents from '../components/TableOfContents.astro'
import VercelImage from 'astro-vercel-image/VercelImage.astro'
import { Icon } from '../components/Icon'
import Author from '../components/Author.astro'
import similarities from '../../similarities.json'
import RelatedPosts from '../components/RelatedPosts.astro'

type BlogData = CollectionEntry<'blog'>['data']

interface Props extends BlogData {
  minutesRead: string
  headings: { href: string; label: string }[]
  slug: string
}

const {
  title,
  description,
  date,
  minutesRead,
  headings,
  heroImage,
  slug,
  status,
} = Astro.props
const disqusShortName = import.meta.env.DISQUS_NAME
const url = new URL(slug, siteMetadata.siteUrl)
// @ts-expect-error this is valid
const relatedPosts = similarities[`/${slug}`]
const imageUrl = heroImage
  ? new URL(heroImage, siteMetadata.siteUrl).toString()
  : undefined
const isDraft = status !== 'published'

const microdata = {
  '@context': 'https://schema.org',
  '@type': 'BlogPosting',
  headline: title,
  description,
  image: [imageUrl],
  inLanguage: 'en-US',
  url: url.toString(),
  datePublished: date.toISOString(),
  dateModified: date.toISOString(),
  author: [
    {
      '@type': 'Person',
      name: siteMetadata.author,
      url: siteMetadata.github,
    },
  ],
}
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(microdata, null, 2)}
    ></script>
    <style>
      .hero-image {
        max-width: 100%;
        height: auto;
        max-height: 70vh;
      }

      .author-section {
        width: 100%;
      }

      .published-at {
        line-height: 1em;
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="relative z-10">
      <div class="flex items-center justify-center px-0 sm:px-1">
        {
          heroImage && (
            <VercelImage
              src={heroImage}
              width={1080}
              alt={title}
              class="hero-image aspect-video rounded-none object-cover sm:rounded-md"
            />
          )
        }
      </div>
      <TableOfContents links={headings} />
      <section class="container">
        {
          isDraft && (
            <div class="mt-3 flex flex-row items-center justify-center">
              <Icon
                className="flex-0 rounded-full"
                width="24"
                height="24"
                icon="hidden"
                color="overline"
              />
              <div class="flex-1 pl-2">
                <h6 class="color-overline pb-0 pt-0 font-medium">
                  Status is draft
                </h6>
                <p class="pb-0 pt-0 font-medium">
                  This is not visible to discovery but can be accessed directly.
                </p>
              </div>
            </div>
          )
        }
        <Author>
          {
            date && (
              <Time
                prefix={isDraft ? 'Drafted ' : 'Published '}
                suffix={`  â—  ${minutesRead}`}
                class="published-at py-0"
                date={date}
                slot="subtitle"
              />
            )
          }
        </Author>
      </section>
      <article class="blog-post container">
        <h1 class="color-link">{title}</h1>
        <hr />
        <slot />
      </article>
      {
        relatedPosts && relatedPosts.length > 0 && (
          <>
            <hr class="container my-2" />
            <RelatedPosts relatedPosts={relatedPosts} />
            <hr class="container my-2" />
          </>
        )
      }

      <div class="container flex flex-row">
        <a
          href={`${siteMetadata.source}/src/content/blog/${slug}`}
          class="my-3 pr-4"
        >
          Edit on Github
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
